.Sidebar {
  display: flex;
  flex-direction: column;
  /* flex: 0.02; */
  align-items: center;
  border-right: 2px solid rgba(255, 255, 255, 0.26);
  padding: 10px;
}

.Sidebar_top {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.compose_pic > img {
  background: white;
  border-radius: 50%;
  padding: 10px;
  transition: width 1s, height 1s transform 5s;
}

.compose_pic:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.sidebar_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0.26);
  padding: 10px;
}

.sidebar_bottom_end {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0.26);
  padding: 10px;
  align-items: center;
}

.sidebar_top_icon > .MuiSvgIcon-root {
  padding: 5px;
  color: rgba(255, 255, 255, 0.575);
}

.sidebar_top_icon > .MuiSvgIcon-root:hover {
  border-radius: 50%;
  color: white;
  background: rgba(255, 255, 255, 0.332);
}

.modal_top_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10000;
  padding-left: 15px;
  color: #fff;
  font-weight: 500;
  background-color: #333;
  margin: 0%;
}

.modal_top_left > p {
  flex: 1;
}

.modal_subject,
.modal_recipient {
  display: flex;
  width: 95%;
  margin-top: 10px;
  margin-left: 15px;
  padding: 5px;
  border-bottom: 2px solid rgb(241, 241, 241);
}

.modal_recipient > p {
  margin-right: 10px;
  color: #333;
}

.modal_recipient > input {
  border: none;
  outline: none;
  width: 100%;
}

.modal_subject > input {
  border: none;
  outline: none;
  width: 100%;
}

.quill {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.modal_bottom_left {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.modal_bottom_right {
  display: flex;
  margin-right: 15px;
  margin-left: auto;
}

.modal_bottom_left > .MuiSvgIcon-root {
  color: rgba(51, 51, 51, 0.671);
  margin-left: 10px;
}

.modal_bottom_right > .MuiSvgIcon-root {
  color: rgba(51, 51, 51, 0.671);
  margin-left: 10px;
}

.modal_bottom {
  display: flex;
  flex-direction: column;
}

.modal_top {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.modal_bottom {
  margin-top: 100px;
  position: sticky;
  bottom: 1px;
}

.modal_bottom_left > button {
  padding: 10px;
  background: blue;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 500;
  /* font-size: 1rem; */
  margin-right: 10px;
  cursor: pointer;
}
